@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --font-family: 'Questrial', sans-serif;
    --bg-color-bright : #F2EADA;
    --bg-color-dark: #27374D;
    --btn-bg-color: #4F709C;
    --font-color-brigth : #F2EADA;
    --btn-icon: url(./img/moon.png);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    transition: 1s;
    background-color: var(--bg-color-bright);
    color: var(--bg-color-dark);
}

h1{
    font-size: 3rem;
    font-family: var(--font-family);

}

.text{
    margin-top: 2rem;
    font-family: var(--font-family);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.change-theme {
    background: var(--btn-icon);
    padding: 2rem;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
    -webkit-tap-highlight-color: transparent !important;

}

#button{
    display: none;
}

.dark-mode{
    background-color: var(--bg-color-dark);
    color: var(--font-color-brigth);
    --btn-icon : url(./img/sun.png);
}

